{erl_opts, [debug_info, {i, "./include"}]}.
{deps, [
    {jose, {git, "https://github.com/potatosalad/erlang-jose.git", {branch, master}}},
    {jiffy, {git, "https://github.com/davisp/jiffy", {branch, master}}},
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {branch, master}}},
    {poolboy, {git, "https://github.com/devinus/poolboy", {branch, master}}},
    {mysql, {git, "https://github.com/mysql-otp/mysql-otp", {branch, master}}}
]}.

{shell, [
    {apps, [cowboy_rest_example]}
]}.

{overrides, [
    {add, jose, [
        {erl_opts, [nowarn_deprecated_function]}
    ]}
]}.

{relx, [
    {release, {cowboy_rest_example, "0.1"}, [cowboy_rest_example]},
    {extended_start_script, true},
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"},
    {dev_mode, true},
    {include_src, false}
]}.

{profiles, [
    {local, [
        {relx, [{include_erts, true}]},
        {erl_opts, [no_debug_info]}
    ]},

    {prod, [ 
        {relx, [{sys_config_src, "config/sys.config.src"},
                {vm_args_src, "config/vm.args.src"},
                {dev_mode, false}, 
                {include_erts, false}
        ]},
        {erl_opts, [no_debug_info]}
    ]}
]}.